 .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  #intro{
    padding-top: 120px;  
  }

  body {
    font-family: 'Special Elite', cursive;
    min-height: 100vh;
    color: black;
    padding-bottom: 3rem;
 }

 .col-md-10{
  display: flex;
  flex-wrap: wrap;
 }

.gallery-item{
  flex-direction: row;
  width: 33%;
}

.navigation{
  background-color: black;
}

a{
  text-decoration: none;
  color: hotpink;
  align-content: center;
}

.navlocation{
  align-content: center;
  padding-left: 500px;
  padding-bottom: 10px;
}

.navbar navbar-inverse{
  background-color: black;
}

.bg-steel {
  background-color: white;
  opacity: 100%;
}