{%extends 'base.html'%}

{% block content %}
{{block.super}}
<form action="/action_page.php">
    <label for="cars">Choose a car:</label>
    <select name="cars" id="cars">
      <option value="volvo">Nairobi</option>
      <option value="saab">abidjan</option>
      <option value="opel">tehran</option>
      <option value="audi">cali</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form>
  
<h1>gallery</h1>
{% for item in pictures %}

<img src="{{item.image_link.url}}" alt="" class="gallery-image">
{{item.category}} 

{% endfor %}
{% endblock %}
