{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div class="gallery">
    <div class="navlocation">
{% for item in locations %} 
   <a href="/location/{{item.town}}"> <b>{{item.town}}</b> |</a>
{% endfor %}
    </div>
<div class="container-fluid">
	<div class="row">
        <div class="col-md-1"></div>
		<div class="col-md-10">

            {% for item in pictures %}
            <div class="gallery-item" data-toggle="modal" data-target="#{{item.id}}">
            <img src="{{item.image_link.url}}" alt="" height="400px" width="300px" class="gallery-image">
            <!-- {{item.category}}  -->
            </div>
         

<div class="modal fade " id="{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-md" role="document">
       <div class="modal-content popup">
           <div class="modal-body text-center">
               
               <img src="{{item.image_link.url}}" alt="{{item.name}}" class="img-responsive" width="300" height="300">
               <h4 class="modal-title" id="imageheader" ><b>{{item.title}}</b></h4>
               <p class="text-center" style="color: indigo;"><i>{{item.description}}</i></p>
               <ul class="list-inline list-unstyled">
                   <li class="list-inline-item gallery-item-likes" style="color: indigo;"><span class="visually-hidden"></span><i class="fa fa-tags" aria-hidden="true"></i> category:{{item.category}} </li>
                   <li class="list-inline-item gallery-item-comments" style="color: indigo;"><span class="visually-hidden"></span><i class="fa fa-thumb-tack" aria-hidden="true"></i> location:{{item.location}} </li>
               </ul>
           </div>
           
       </div>
   </div>
</div>


{% endfor %}
        </div>
        <div class="col-md-1"></div>
        
    </div>
</div>   

</div>
{% endblock %}
{% block scripts %} {{block.super}}

{% endblock %}
