{% extends 'base.html' %} {% block content %}
<div class="block">
    <div class="row">
        {% if results %}
        <h2> Found {{results|length }} items </h2>
        {% else %}
        <h2> Found 0 results </h2>
        {% endif %}
    </div>

    <div class="row">
        <div class="gallery">
            {% if results %}
            <div class="row">
                <div class="col-md-1"></div>
                      <div class="col-md-10">
                         {% for item in results %}
            <div class="gallery-item" tabindex="0">
                <img src="{{item.image_link.url}}" class="gallery-image" height="400px" width="300px" alt="">
                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden"></span><i class="fa fa-tags fa-2x" aria-hidden="true"></i> {{item.category}} </li>
                        <li class="gallery-item-comments"><span class="visually-hidden"></span><i class="fa fa-thumb-tack fa-2x" aria-hidden="true"></i> {{item.location}} </li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-1"></div>
        
    </div>
     {% endif %}
        </div>
    </div>
</div>
{% endblock %}
