{% extends 'base.html' %} {% block content %}
<div class="block">
    <div class="row">
      {% if results %}
      <h2> Found {{results|length }} items for the term '{{message}}' </h2>
      {% else %}
      <h2> Found 0 results in '{{message}}' </h2>
      {% endif %}
    </div>

    <div class="row">

      {% if results %}
      <div class="row">
        <div class="col-md-1"></div>
		      <div class="col-md-10">
        {% for item in results %}
          
              <img src="{{item.image_link.url}}" class="gallery-image" height="400px" width="300px" alt="">
              
        {% endfor %}
      </div>
      <div class="col-md-1"></div>
      
  </div>
      {% endif %}
      </div>
</div>
{% endblock %}